<html xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <title>Landing Page</title>
    <style>
        body {background-color: black;}
        input {color: #00ff00; background: black; text-decoration-color: lime}
        label {color: #00ff00;}
    </style>
</head>
<body>
<div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"/>
</div>

<div>
    <label for="pass">Password :</label>
    <input type="password" id="pass" name="password" minlength="8" required/>
</div>

<input type="submit" value="Sign in"/>

</body>
</html>